body.home {
	padding: 0;
}

.home .hero {
	background-image: url(../assets/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
}

.hero-section {
	ul{
		list-style: none;
		float: right;
		li{
			.avatar{
				width: 40px;
				border-radius: 20px;
				border: 2px solid #ffffff;
				margin-right: 15px;
			}
			display: inline-block;
			padding: 30px 15px 0 15px;
			a {
				color: #ffffff;
				text-decoration: none;
			}
			a.btn-default {
				color: #334e5d;
			}
		}
	}
	h1{
		text-align: center;
		color: #ffffff;
		font-weight: 300;
		font-size: 46px;
		margin: 100px 0 30px 0;
	}
	input{
		height: 60px;
		box-shadow: none;
		color: #334e5d;
	}
	button{
		height: 60px;
	}
	.logo{
		margin-top: 30px;
		width: 109px;
	}
	.stat{
		color: #ffffff;
		text-align: center;
		margin: 50px 0 0 0;
		font-size: 30px;
		line-height: 20px;
		font-weight: 300;
		span {
			font-size: 14px;
			line-height: 14px;
			text-transform: uppercase;
		}
	}
	.scroll{
		width: 24px;
		display: block;
		margin: 100px auto auto auto;
	}
}

.intro{
	text-align: center;
	padding: 50px 0 50px 0;
	h1{
		margin: 0 0 30px 0;
		font-weight: 300;
	}
	p{
		font-size: 20px;
		font-weight: 300;
	}
	.btn-signup{
		margin: 30px 0 0 0;
		background: $nesti-blue;
		border-color: $nesti-blue;
	}
}

.services{
	margin-bottom: 50px;
}

.service{
	padding: 0 20px 0 20px;
	text-align: center;
	h2{
		font-weight: 300;
		color: #334e5d;
	}
	img{
		width: 40px;
	}
	p{
		font-size: 16px;
		font-weight: 300;
	}
}

.services-wrapper{
	background: #ffffff;
}

.featured-listings{
	padding: 50px 0 100px 0;
	background: #f2f2f2;
	border-top: 1px solid #dcdcdc;
	//border-bottom: 1px solid #dcdcdc;
	h2{
		text-align: center;
		margin: 0 0 30px 0;
		font-weight: 300;
	}
}






























